<ul>
  <li id="view-style-table" class="view-style<%= (style == "table" ? ' active-style' : '') %>"><a href="#">Ta</a></li>
  <li id="view-style-chart" class="view-style<%= (style == "chart" ? ' active-style' : '') %><%= (chartStyle ? '' : ' view-style-disabled') %>"><a href="#">Ch</a></li>
  <li id="view-style-calendar" class="view-style<%= (style == "calendar" ? ' active-style' : '') %><%= (calendarStyle ? '' : ' view-style-disabled') %>"><a href="#">Ca</a></li>
  <li id="view-style-map" class="view-style<%= (style == "map" ? ' active-style' : '') %><%= (mapStyle ? '' : ' view-style-disabled') %>"><a href="#">Ma</a></li>
</ul>